<h1>Hello </h1>

<h1>Create Results page</h1> 
<h1>Your Item:</h1>

<br>
<h2>Item ID: <%= @new_item.id %></h2>
<h2>Brand : <%= @new_item.brand %></h2>
<h2>Catgeory : <%= @new_item.category %></h2>
<h2>Price : <%= @new_item.price %></h2>
<h2>Description : <%= @new_item.description %></h2>

