<h1>Hello </h1>

<h1>All Products Index</h1> 
<h2></h2>
<br>
<br>


<!-- Items available to you are...
 <button type="button" class="btn btn-primary">Primary</button> -->

<p> </p>
<% @items.each do |item|  %>
 <h2> <a href="/products/ <%=item.id%>"> Brand: <%= item.brand %> </a> </h2>
<h2> Food: <%= item.category %></h2>
<h2> Price: <%= item.price.to_s %></h2>
<h2> Description: <%= item.description %></h2>
<br>
<br>
<% end %>

<p> </p>
<p> </p>
