<h1>Index </h1>
<h1>All Products Page</h1> 
<h2></h2>
<br>
<br>

<p> </p>
<% @items.each do |item|  %>
<div class="panel panel-default">
<div class="panel-heading">Item ID: <%= item.id %></div>
 <h4> <a href="/products/<%=item.id%>"> Brand: <%= item.brand %> </a> </h4>
<h4> Food: <%= item.category %></h4>
<h4> Price: <%= item.price.to_s %></h4>
<h4> Description: <%= item.description %></h4>
<br>
<br>
</div>
<% end %>

<h2><a href="/products">Back to Top</a></h2>
<br>
<br>
