<h1>View Entry </h1>
<h1>Item Details Page</h1>
<br>
<br>
<h4>Item ID: <%= @item.id %></h4>
<h4>Brand : <%= @item.brand %></h4>
<h4>Supplier: <%= @item.supplier.name %></h4>
<h4>Catgeory : <%= @item.category %></h4>
<h4>Description : <%= @item.description %></h4>
<h4><%= @item.sale_message %></h4>
<h4>Price : <%= @item.price %></h4>
<h4><%= @item.tax %></h4>
<h4><%= @item.total %></h4>

<% @item.images.each do |image| %>
<img src="<%= image.url %>" alt="<%= @item.brand %>" class="img-responsive">
<% end %>

<%= button_to "Delete", {action: "destroy", id: @item.id}, :method => :delete %>

<h2><a href="/" style="margin-right:20px">Back to Index</a> 
    <a href="/products/new" style="margin-right:20px">Create Another Item</a>
    <a href="/products/<%= @item.id %>/edit">Edit this Item</a>
</h2>
<br>
<br>
