<h1>Changes Saved </h1>
<h1>Item Modified</h1>
<br>
<br>
<h4>Item ID: <%= @item.id %></h4>
<h4>Brand : <%= @item.brand %></h4>
<h4>Catgeory : <%= @item.category %></h4>
<h4>Price : <%= @item.price %></h4>
<h4>Description : <%= @item.description %></h4>
<h2><a href="/" style="margin-right:20px">Back to Index</a> 
    <a href="/products/new" style="margin-right:20px">Create Another Item</a>
    <!-- <a href="/products/edit">Edit Another Item</a></h2> -->
<br>
<br>