<h2>New Image for <%= @item.brand %></h2>

<%= form_tag "/products/#{@item.id}/images", method: :post do %>
<div>
    <%= label_tag :url %>
    <%= text_field_tag :url %>
</div>
<%= submit_tag "Submit" %>
<% end %>