<!DOCTYPE html>
<html>

  <head>
    <title> BestStuff </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
  <!-- Static Nav Bar Begins -->
  <nav class= "navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BEST Stuffs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/products">Index</a></li>
      <li><a href="/signup">Sign up!</a></li>
      <li><a href="/login">Login! </a></li>
      <li><a href="/logout">Logout! </a></li>
      <li><a href="/products/new">New Entry</a></li>
      <li><a href="/?discount=yes">Discounted Items</a></li>
      <li><a href="/products/random">Random Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<!--       <li><a href="#">Link</a></li> -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By Ascending<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/?sort=brand">Brand</a></li>
          <li><a href="/?sort=category">Category</a></li>
          <li><a href="/?sort=price">Price</a></li>
<!--           <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li> -->
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By Descending<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/?sort=brand&sort_order=desc">Brand</a></li>
          <li><a href="/?sort=category&sort_order=desc">Category</a></li>
          <li><a href="/?sort=price&sort_order=desc">Price</a></li>
<!--           <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li> -->
        </ul>
      </li>
  </div>
  </nav>
  <!-- Static Nav Bar Ends -->
    <br>
    <br>
    <br>
  <!-- Alert Begins -->
    <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <%= message %>
    </div>

    <% end %>
    <!-- Alert Ends -->

  <div class="container"> <!-- For the actual body -->
    <h5><a href="#BOTTOM">Jump to Bottom</a></h5>
    <a name="TOP"></a>

    <%= yield %>
    
    <div id="BOTTOM"></div>
    <h5><a href="#TOP">Back to Top</a></h5>
  </div>
  </body>

</html>
